@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,300,400i,400,700|Poppins:400,500,600,700|Roboto:400,500i,700");

  .row {
    content: "";
    display: table;
    clear: both;
    width: 182%;
  }

  .col-1 {
    float: left;
    width: 25%;
    margin-top: 19px;
  }
  
  .col-2 {
    float: left;
    width: 75%;
    margin-top: 19px;
  }

  .col-11 {
    float: left;
    width: 44%;
    margin-top: 19px;
  }
  
  .col-12 {
    float: left;
    width: 50%;
    margin-top: 19px;
  }

  input,select,textarea {
    width:40%;
  }

  .button{
    width: 48%;
    border: 1px solid black;
    padding: 0px;
    border-radius: 4px;
    margin-left: 318px;
    margin-top: 40px;
    float: right;
  }

  .stuform{
      border: 5px solid black;
      background-color: grey;
      border-radius: 5px;
  }

  .text{
      margin-left: 80px;
  }

  .btn1{
        width: 48%;
        border: 1px solid black;
        padding: 0px;
        border-radius: 4px;
        margin-left: 318px;
        margin-top: 40px;
        float: right;
  }
  


  /* ***************************************  Custom Style ******************************************** */

  .show{
    display: block;
}
.hide{
    display: none;
}
.default{
    display: none;
}